<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Conari.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E034AE671CC77348003D77FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E06D7FB51CBE221F003001BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E06D7FC91CBE2220003001BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0DBB9C41CBE5445009D6520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
